@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
    td[data-label]::before {
        content: attr(data-label);
        font-weight: bold;
        display: inline-block;
        width: 80px;
    }
}